.home{text-align:right;}
.date{color:mediumvioletred;}
.bold{font-weight:bold}


td,th{font-size:12px; color:#333333; font-family:Verdana,Chicago;}
body {
font-size:12px; color:#333333; font-family:Verdana,Chicago;
scrollbar-3dlight-color:   #666666;
scrollbar-arrow-color:     #666666;
scrollbar-base-color:      #ffffff;
scrollbar-darkshadow-color:#ffffff;
scrollbar-face-color:      #ffffff;
scrollbar-highlight-color: #ffffff;
scrollbar-shadow-color:    #666666;
scrollbar-track-color:     #ffffff;
margin: 0;
padding: 0;
}
A{ color:#990000;text-decoration:underline ; cursor:crosshair;}
A:visited { color:#990000;text-decoration:underline ; }
A:active { color:#990000; text-decoration:underline ; }
A:hover { color:#9900FF; text-decoration:underline ; background:#99ffff;}

.shadow{
background-image:url('/images/shadow_bg.jpg');
background-repeat:repeat-y;
background-position:left;
background-attachment:scroll;}
hr{ border-style:solid;
color:#3399FF;
height:1px;}

small{font-size:9pt}
big{font-size:11pt}

.content{ margin-left:15px;
padding-right:0px;
font-size:12px;}
.in_table{margin-top:5px;
margin-left:50px;}
.title{font-size:16px;
margin-left:20px;
margin-top:10px;
margin-right:20px;
padding:5px;
background-color:#AEC5D7;
font-weight:bold;}
.sche{margin-left:15px;
padding-right:0px;
font-size:12px;
border: 1px solid blue;}
.sub_title{
background-color:#D2DBE2;
font-size:14px;}
.welcom{ color:#FFFFFF;
font-size:12px;
font-weight:bold;
margin: 0% auto;
padding:0%;}