INPUT,TEXTAREA{
border-top : 1px solid #aaaaaa ;
border-bottom : 1px solid #aaaaaa ;
border-left : 1px solid #aaaaaa ;
border-right : 1px solid #aaaaaa ;
background-color : white;
  color : gray;
}
.te1{
  font-size : 12px;
}
.te2{
  font-size : 12px;
}
.te3{
  font-size : 10px;
}/* CSS Document */

.welcom{ color:#FFFFFF;
font-size:12px;
font-weight:bold;
margin: 0% auto;
padding:0%;}